.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
    width: 100vw;
    border-radius: 4px;
    margin-top: 1em;
}

.table_container {
    max-width: 90%;
}

.input_container {
    display: flex;
    justify-content: center;
    background: #fafafa;
    margin: 1em;
    width: 100%;
    border-radius: 4px;
}

.sector_select {
    margin: 1em;
}

.navbar_container {
    background-color: #0e9453;
}